<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit-variable.ttf</string>
		<string>OpenSans-variable.ttf</string>
		<string>Outfit-Medium.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-Bold2.ttf</string>
		<string>Outfit-Bold.ttf</string>
		<string>Outfit-ExtraLight.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>Outfit-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>Launchscreen-background</string>
		<key>UIImageName</key>
		<string>bg_splash_transp</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A00000080400010101</string>
		<string>5361746f43686970</string>
		<string>536565644b6565706572</string>
		<string>5361746f44696d65</string>
	</array>
</dict>
</plist>
